@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

*{
    max-width:100%;
}

html {
    font-size: 62.5%;
    font-family: 'Libre Baskerville', serif;
    color: black;
    margin: .5%;
    color:floralwhite;
    background-color:darkred;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 9.5rem;
    text-align:center;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}


h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 9rem;
    color:darkred;
}

a {
    text-decoration:none;
}

header {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 2%;
}

header h1 {
    margin-bottom: 2%;
    margin-top:1.5%;
}

header div nav a {
    margin: 2%;
    padding: 2% 5%;
    border: .5rem;
    border-style: solid;
    border-color: ivory;
    font-size: 1.75rem;
    color:floralwhite;
    text-align:center;
    background-color:firebrick;
}

header div nav a:hover{
    border-color:firebrick;
    color:firebrick;
    background-color:floralwhite;
}

header nav {
    display:flex;
    justify-content:space-between;
}


#introduction p, #bios p {
    font-size:2rem;
}

#introduction {
    display:flex;
    flex-direction:column;
    align-items:center;
    color:black;
    background-image: url('https://source.unsplash.com/vT5xrj3z1OE');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}



#introduction h2 {
    font-size:6rem;
}

#introduction p {
    margin-bottom:5%;
    width: 75%;
    font-size:3rem;
}




#bios {
    display:flex;
    margin: 0 5%;
    margin-top:10%;
    display:flex;
    width:90%;
    justify-content:center;
    background-color:floralwhite;
    color:black;
}

#bios div {
    margin:5%;
    text-align:center;
    justify-content:space-evenly;
}

#bios div p {
    padding-bottom:2%;
}

#bios div a img {
    width:25%;
}


#bios img {
    border-radius:50%;
}



footer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 2%;
}

footer div nav a {
    margin: 2%;
    padding: 2% 5%;
    border: .5rem;
    border-style: solid;
    border-color: ivory;
    font-size: 1.75rem;
    color:floralwhite;
    text-align:center;
    background-color:firebrick;
}

footer div nav a:hover{
    border-color:firebrick;
    color:firebrick;
    background-color:floralwhite;
}

footer nav {
    display:flex;
    justify-content:space-between;
}

/* Responsive */

@media(max-width:500px){

    * {
        box-sizing:border-box;
        max-width:100%;
    }

    section {
        margin-top: 5%;
        margin-bottom:5%;
    }

    h1{
        font-size: 3rem;
    }

    h2 {
        font-size:2.75rem;
    }

    h3 {
        font-size:2.75rem;
    }

    header {
        margin-bottom:1%;
    }

    header div {
        align-items:center;
        justify-content:space-between;
    }

    header div nav a {
        padding: 2% 2%;
        border: .2rem;
        font-size: 1.25rem; 
        border-style: solid;
        border-color: ivory;
        color:floralwhite;
        text-align:center;
        background-color:firebrick;
    }

    header div h1 {
        font-size:3rem;
    }

    #introduction h2 {
        font-size:3rem;
    }

    #introduction p {
        margin-bottom:5%;
        width: 75%;
        font-size:2rem;
    }


    #introduction {
        width:80%;
    }

    #bios {
        margin: 0 2%;
        display:flex;
        flex-direction:column;
        align-items:center;
        width:80%;
    }

    #bios div {
        width:50%;
        margin:0;
        margin-bottom:10%;
        margin-top:5%;
    }
    
    footer div {
        align-items:center;
        justify-content:space-between;
    }

    footer div nav a {
        margin: 2%;
        padding: 2% 2%;
        border: .2rem;
        font-size: 1.3rem; 
        border-style: solid;
        border-color: ivory;
        color:floralwhite;
        text-align:center;
        background-color:firebrick;
    }
}




@media(max-width:1000px){

    *{
        max-width:100%;
    }

h1 {
    font-size:6.5rem;
}

h2 {
    font-size:4.5rem;
}

h3 {
    font-size:8rem;
}

header div nav a {
    font-size:1.15rem;
    padding:2% 4%;
    border:.3rem;
    border-style: solid;
    border-color: ivory;
    color:floralwhite;
    text-align:center;
    background-color:firebrick;
}


#reviews img {
    width:90%;
    height:auto;
}

footer div nav a {
    font-size: 1.15rem;
    padding:2% 4%;
    border:.3rem;
    border-style: solid;
    border-color: ivory;
    color:floralwhite;
    text-align:center;
    background-color:firebrick;
}
}

@media(max-width:800px) {

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size:3.5rem;
    }

    #reviews img{
        width:90%;
    } 

    #bios {
        display:flex;
        flex-direction:column;
        align-items:center;
        width:80%;
    }

    #bios div {
        width:50%;
        margin:0;
        margin-bottom:10%;
        margin-top:5%;
    }

} 